Options +FollowSymLinks -Indexes

RewriteEngine On 
RewriteBase /
RewriteRule ^sveden/(.*)$ "/sveden.php/$1" [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^.]+)$ $1.php [NC,L]

RewriteCond %{HTTP_HOST} ^www\.q1zin\.ru$ [NC]
RewriteRule ^(.*)$ https://q1zin.ru/$1 [R=301,L]

ErrorDocument 404 https://q1zin.ru/error-404

#RewriteCond %{HTTPS} off
#RewriteCond %{HTTP:X-Forwarded-Proto} !https
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]


#http://sch59.su/sveden/common


# RewriteRule  ^([sveden/]+[0-9A-Za-z-]+)/?$ /sveden.php?for=$1 [L,QSA]


#RewriteCond ^(\<sveden\>)$ =off
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [QSA,L]

#RewriteCond %{HTTPS} =off
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [QSA,L]

#RewriteCond %{REQUEST_URI} ^(.*).php$ 
#RewriteRule ^(.*).php$ https://%{HTTP_HOST}/$1 [NC,L]

#RewriteRule ^(login|logout|profile)$ /$1.php [R=301,L]

#RewriteEngine On
#RewriteBase /

#Redirect sveden/ http://%{HTTP_HOST}/sveden.php
#RewriteRule ^sveden/([^/]+) sveden.php?for=$1
#RewriteRule ^sveden/ sveden.php?for=123



